#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels 
              = <NRF_PSEL(SPIM_SCK, 0, 17)>
              , <NRF_PSEL(SPIM_MOSI, 0, 6)>
              , <NRF_PSEL(SPIM_MISO, 0, 6)>
              ;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels 
              = <NRF_PSEL(SPIM_SCK, 0, 17)>
              , <NRF_PSEL(SPIM_MOSI, 0, 6)>
              , <NRF_PSEL(SPIM_MISO, 0, 6)>
              ;
            low-power-enable;
        };
    };
};

&spi0 {
  status = "okay";
  compatible = "nordic,nrf-spim";
  pinctrl-0 = <&spi0_default>;
  pinctrl-1 = <&spi0_sleep>;
  pinctrl-names = "default", "sleep";
};

/ {
  //left hand trackball
  split_inputs {
    #address-cells = <1>;
    #size-cells = <0>;

    trackball_peripheral_split: trackball_peripheral_split@0 {
      compatible = "zmk,input-split";
      reg = <0>;
    };
  };

  trackball_peripheral_listener: trackball_peripheral_listener {
    compatible = "zmk,input-listener";
    status = "disabled";
    device = <&trackball_peripheral_split>;
    input-processors
      = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>
      , <&zip_xy_scaler 1 10>
      , <&zip_xy_to_scroll_mapper>
      ;
  };

  //right hand trackball
  trackball_central_listener: trackball_central_listener {
    compatible = "zmk,input-listener";
    status = "disabled";
    input-processors
      = <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_XY_SWAP)>
      , <&zip_xy_scaler 1 3>
      ;
  };
}; 